<h3>Bienvenido</h3>
<h4 id="negrita"> <%=  current_user.name%></h4>
<br>

<h3 id="negrita">Proyectos</h3>

<div class="container">
  <table class="table">
    <thead>
    <td>Nombre</td>
    <td>Estado</td>
    <td>Costo</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </thead>
    <%= render @projects %>
  </table>
</div>

<br>

<%if current_user.adm? %>
  <%= link_to 'Nuevo Proyecto', new_project_path, class: 'button is-success' %>
<%end%>






