<h3 id="negrita">Recursos</h3>

<div class="container">
  <table class="table">
    <thead>
    <td>Nombre</td>
    <td>Cantidad</td>
    <td>Total</td>
    <td></td>
    <td></td>
    </thead>
    <%= render @resources %>
  </table>
</div>

<br>
  <%= link_to 'Agregar Recurso', new_task_resource_task_path, class: 'button is-success' %>

